<h1> Check to see if your sides are a triangle!</h1>

  <form action="/output">
    <label for="side1">Length of side 1</label>
    <input type="text" name="side1" id="side1">

    <label for="side2">Length of side 2</label>
    <input type="text" name="side2" id="side2">

    <label for="side3">Length of side 3</label>
    <input type="text" name="side3" id="side3">

    <button type="submit" name="Submit">Submit!</button>
  </form>
